@font-face {
  font-family: simplifica;
  src: url('/assets/SIMPLIFICA Typeface.ttf');
}

body,
.blur::before {
  background: url('/assets/4k-wallpaper-agriculture-clouds-842711.jpg') 0 / cover fixed;
}

.blur {
  text-align: center;

  // margin: 19% auto;
  // margin-top: 10%;
  position: relative;
  // padding: 2em;
  background: rgba(0, 0, 0, 0.09);
  font-size: 20px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

.blur::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

input {
  color: white;
  margin-bottom: 50px;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.09);
  padding-left: 0.25em;
}

label {
  margin-left: 5px;
}

.title {
  // margin-bottom: 100px;
  padding: 2em;
  font-family: simplifica;

  h1 {
    font-size: 60px;    
  }
}

.form {
  padding: 2em;
  margin-top: 10%;
  margin-bottom: 10%;
}

.m-t-5 {
  margin-top: 5%;
}

.m-b-5 {
  margin-bottom: 5%;
}
