<div class="container">
  <div class="row">
    <div class="col-sm-12 m-t-5">
      <div class="blur title">
        <h1>Elegant temperature converter</h1>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 m-t-5 m-b-5">
      <div class="blur">
        <form>
          <div class="form-group p-1-em">
            <label>
              <button class="btn btn-outline-light align" [ngxClipboard]="inputCelsius">
                <i class="fas fa-download"></i>
              </button>
            </label>
            <input  [(ngModel)]="celsius" [ngModelOptions]="{standalone: true}" placeholder="°C" (input)="updateCelsius()" #inputCelsius>
            <label> °C</label>
            <br> <br>

            <label>
              <button class="btn btn-outline-light align" [ngxClipboard]="inputFarenheit">
                <i class="fas fa-download"></i>
              </button>
            </label>
            <input  [(ngModel)]="farenheit" [ngModelOptions]="{standalone: true}" placeholder="°F" (input)="updateFarenheit()" #inputFarenheit>
            <label> °F</label>
            <br> <br>

            <label>
              <button class="btn btn-outline-light align" [ngxClipboard]="inputKelvin">
                <i class="fas fa-download"></i>
              </button>
            </label>
            <input  [(ngModel)]="kelvin" [ngModelOptions]="{standalone: true}" placeholder="K" (input)="updateKelvin()" #inputKelvin>
            <label> K</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
